<footer class="text-white text-align-center mt-3" style="text-align: center;">
    <p>&copy; Created by KFUPlanner Members <a href="https://github.com/Elyas1422/KFUPlanner"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a></p>
  </footer>