<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>KFUPlanner</title>
</head>
<body>
    <body>
        <!-- <div id="navbar"></div> -->

        <nav class="navbar navbar-expand-lg shadow-sm" id="index-navbar">
          <div class="container">
              <a class="navbar-brand mx-auto" href="/"><img src="/assets/logo.png" alt="Logo" id="logo"></a>
              
            <button class="navbar-toggler position-fixed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <button class="reverse"data-toggle="dropdown">Sign Up</button>
                  <div class="dropdown-menu dropdown-menu-right sign-form" aria-labelledby="navbarDropdownMenuLink" style="z-index: 9999;">
                    <form class="px-4 py-3 " id="signup-form" >
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="signupFirstName">First Name</label>
                          <input type="text" class="form-control" id="signupFirstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="signupLastName">Last Name</label>
                          <input type="text" class="form-control" id="signupLastName" placeholder="Last Name" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="signupEmail">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" placeholder="email@example.com" required>
                      </div>
                      <div class="form-group">
                        <label for="signupPassword">Password</label>
                        <input type="password" class="form-control" id="signupPassword" placeholder="Password" required>
                      </div>
                      <div class="form-group">
                        <label for="signupConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm Password"  required>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                  </div>
                </li>                  
                <li class="nav-item dropdown tt">
                  <button class="mx-auto"data-toggle="dropdown">Login</button>
                  <div class="dropdown-menu dropdown-menu-right sign-form" aria-labelledby="navbarDropdownMenuLink" style="z-index: 9999;">
                    <form class="px-4 py-3" id="login-form">
                      <div class="form-group">
                        <label for="dropdownFormEmail">Email address</label>
                        <input type="email" class="form-control" id="dropdownFormEmail" placeholder="email@example.com">
                      </div>
                      <div class="form-group">
                        <label for="dropdownFormPassword">Password</label>
                        <input type="password" class="form-control" id="dropdownFormPassword" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <script>
            document.getElementById("login-form").addEventListener("submit", function(event) {
            event.preventDefault();
            var email = document.getElementById("dropdownFormEmail").value;
            var password = document.getElementById("dropdownFormPassword").value;
            fetch(`/login/${email}/${password}`, {
              method: "POST"
            }).then(function(response) {
              if (response.ok) {
                return response.text();
              } else {
                throw new Error("Network response was not ok.");
              }
            }).then(function(text) {
              console.log(text);
            }).catch(function(error) {
              console.error("Error:", error);
            });
          });
          </script>
        </nav>





      <main class="mx-auto">
        <div class="container d-flex flex-lg-row flex-column justify-content-center">
            <img class="col-lg-5 mx-auto" id="full-logo" src="/assets/fullLogo.png" alt="logo">
            <div class="col-lg-7 my-auto">
                <h1 class="mx-1 my-2" style="color: white;"><b>WE WILL HELP YOU</b></h1>
                <h2 class="mx-1 mb-3" id="plan-msg"><strong>Plan <i> <span id="services"></span></i></strong></h2>
                <button class="mx-0" onclick="scrollToElement()">Explore now</button>
            </div>
        </div>

        <h1 class="text-center text-white  mt-5"><b>OUR SERVICES <i class="fa-solid fa-layer-group" style="color: #ffffff;"></i></b></h1>
        <div class="container d-flex flex-wrap my-5 mx-auto " id="features-container">
          <div class="col-lg-4  col-12">
            <a href="ScheduleMaster"> <div id="ScheduleMaster-container" class="card rounded p-1 text-white feature-container my-2  py-3 pl-0 "  style="text-align:center;">
              <h4 class="card-title"><b>Schedule Master</b> <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i></h4>
              <p class="card-text">Want to generate term schedule? Try a schedule generater</p>
            </div></a>
          </div>
          
          <div class="col-lg-4  col-12 py-3 py-lg-0">
            <a href="StudyPlanner"> <div id="StudyPlanner-container" class="card rounded p-1 text-white feature-container my-2 py-3  "  style="text-align:center;">
              <h4 class="card-title"><b>Study Planner</b> <i class="fa-solid fa-book" style="color: #ffffff;"></i></h4>
              <p class="card-text">Feel overwhelmed with time? Try a time organizer tool</p>
            </div></a>
          </div>
          <div class="col-lg-4 col-12">
            <a href="StudyClock"> <div id="StudyClock-container" class="card rounded p-1 text-white feature-container my-2 py-3 pr-0 "  style="text-align:center;">
              <h4 class="card-title"><b>Study Clock</b> <i class="fa-solid fa-clock" style="color: #ffffff;"></i></h4>
              <p class="card-text">Trying to organize study breaks? Try Study Clock</p>
            </div></a>
          </div>
        </div>

        <div class="card p-5 text-white" style="text-align:center;" id="goal-card">
          <h1 class="mx-auto feature-title" style="font-size: 35px;"><strong>OUR GOAL <i class="fa-solid fa-bullseye" style="color: #ffffff;"></i></strong></h1>
          <p class="justify-content-center">
            "Our goal is to develop a tool that simplifies the academic and non-academic activities at KFUPM University students, providing them with a user friendly platform that enhance their engagement with the university community and improves them to achieve their goal."
          </p>
          <h5 class="mb-0 mt-3"><b>- KFUPlanner Members</b></h5>
        </div>
    </main>
    <div id="footer"></div>

      <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
      <script src="https://kit.fontawesome.com/06ee9fb9c8.js" crossorigin="anonymous"></script>
      <script>
        var typed = new Typed('#services', {
          strings: ['next term', 'daily schedule','study time'],
          typeSpeed: 50,
          loop:true
        });
        function scrollToElement() {
        var element = document.getElementById("features-container");
        element.scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
        }
      </script>
      <script src="/js/components.js"></script>
</body>
</html>