@import url('main.css');
#error-code {
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-size: 300px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin-bottom: 0;
}
#error-msg {
    margin: 0;
    color: rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 1px white;
    text-align: center;
    font-size: 100px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
  }
  
